@import "sprintStat.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
div {
    margin: 0;
}


body {
    background: url(mainPage.PNG) no-repeat center center fixed;
    //background: url(sprint_background.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .wrapper {
        width: 85vw;
        height: 90vh;
        border-radius: 5px;
        background: url(sprint-game-board.png) no-repeat center center;
        background-size: cover;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: 0;
        display: none;

        .game {
            margin-top: 2%;
            width: 37%;
            height: 68%;

            .game__points {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 21%;
                font-size: calc(26px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
                color: #56824F;
            }

            .game__board {
                width: 100%;
                height: 75%;
                border-radius: 10px;
                background: #ffff;
                // border-bottom: 2px solid #E5E5E3;
                // border-left: 2px solid #E5E5E3;
                // border-right: 2px solid #E5E5E3;
                display: flex;
                flex-direction: column;
                align-items: center;
                // border: 2px solid #E5E5E3;



                .game__board-top {
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    //background: #C96F89;
                    // border-top: 1px solid #C96F89;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    .game__board-top_score_checks {
                        .fa-check-circle {
                            //  color: #5A7E51;
                            color: white;
                            //border: 1px solid white;
                            border-radius: 50%;
                            background: white;
                        }
                    }


                    .game__board-top-point {
                        font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
                        color: #ffff;
                    }
                }

                .game__board-middle {
                    width: 100%;
                    height: 55%;

                    #game__board-middle-img {
                        background: url(bird_inside_card.png);
                        background-size: cover;
                        height: 40%;
                    }

                    #game__board-middle-en {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        height: 20%;
                        font-size: calc(13px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
                    }

                    #game__board-middle-ru {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        height: 20%;
                        font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

                    }



                }

                .game__board-bottom {
                    width: 85%;
                    height: 25%;
                    border-top: 2px solid #E5E5E3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .fa-check-circle {
                        position: absolute;
                        top: -12px;
                        // left: 138px;
                        font-size: 24px;
                        display: none;
                        color: #5A7E51;
                    }

                    .fa-times-circle {
                        position: absolute;
                        top: -12px;
                        // left: 138px;
                        font-size: 24px;
                        display: none;
                        color: rgba(255, 0, 0, 0.685);
                    }

                    .btn {
                        width: 25%;
                        margin: 0 10px;
                        font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
                    }
                }
            }
        }

        .score {
            margin-top: 2%;
            width: 10%;
            height: 68%;
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 15%;
            top: 13%;

            .score__score {
                border-radius: 50%;
                width: 90px;
                height: 90px;


                .base-timer {
                    position: relative;
                    height: 90px;
                    width: 90px;

                    .base-timer__label {
                        position: absolute;
                        width: 90px;
                        height: 90px;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 28px;
                    }

                    .base-timer__circle {
                        fill: none;
                        stroke: none;

                        .base-timer__path-remaining {
                            stroke-width: 7px;
                            stroke-linecap: round;
                            transform: rotate(90deg);
                            transform-origin: center;
                            transition: 1s linear all;
                            stroke: currentColor;


                        }

                        .base-timer__path-remaining.green {
                            color: rgb(65, 184, 131);
                        }

                        .base-timer__path-remaining.orange {
                            color: orange;
                        }

                        .base-timer__path-remaining.red {
                            color: red;
                        }


                        .base-timer__path-elapsed {
                            stroke-width: 7px;
                            stroke: grey;

                        }
                    }


                }
            }
        }

        .button {
            display: flex;
            justify-content: center;
            margin: 0 5px 40px;

            .btn {
                background: #fbfbfb21;
                margin: auto 15px;
                box-shadow: 0 3px 0 0 #64535b;
                border: 1px solid #fbfbfb52;

                // &:active {
                //     box-shadow: none;
                //     top: 3px;
                //     margin-bottom: 0;
                // }

                // &:hover {
                //     opacity: 1;
                // }

                // &:active,
                // &:focus {
                //     outline: 0;
                // }
            }


            .btn-light.colorRight {
                //background-color: #64535b;
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

            .btn-light.colorLeft {
                //background-color: #64535b;
                background-color: #c82333;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }

        }

        .footer {
            width: 100%;
            height: 10%;
            background-color: #2E2E2E;
            position: absolute;
            bottom: 0;

            .footer__level {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    color: #ffff;
                }
            }
        }
    }
    
    .gameStart {
        width: 20%;
        height: 20%;
        display: flex;
        justify-content: center;
        position: absolute;
        align-items: center;
        right: 40%;
        top: 34%;

        .score__score2 {
            border-radius: 50%;
            width: 120px;
            height: 120px;


            .base-timer2 {
                position: relative;
                height: 120px;
                width: 120px;
                
                .base-timer__svg2 {
                    transform: scaleX(-1);
                  }

                .base-timer__label2 {
                    position: absolute;
                    width: 120px;
                    height: 120px;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 28px;
                    color: white;
                }

                .base-timer__circle2 {
                    fill: none;
                    stroke: none;

                    .base-timer__path-remaining2 {
                        stroke-width: 2px;
                        stroke-linecap: round;
                        transform: rotate(90deg);
                        transform-origin: center;
                        transition: 1s linear all;
                        stroke: currentColor;
                    }
                     .base-timer__path-remaining2.green {
                        color: rgb(65, 184, 131);
                    }
                    .base-timer__path-elapsed2 {
                        stroke-width: 2px;
                        stroke: #183949

                    }
                }


            }
        }
    }

    
}






.a {
    border: 1px solid red;
}

.b {
    border: 1px solid blue;
}