.statistics {

  .short-statictics__container {
    display: flex;
    flex-direction: column;
  }

  .short-statictics__title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    color: $color-text-shorstatistics-title;
  }

  .short-statictics__data {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }

  .cards-completed {
    color: $color-test-cards-completed;
  }

  .correct-answers {
    color: $color-test-correct-answers;
  }

  .new-words {
    color: $color-test-new-words;
  }

  .longest-session {
    color: $color-test-longest-session;
  }
}
