.savannah-html {
  .control-panel__navigation {
    display: flex;
    font-size: 2rem;
  }

  .navigation__position {
      display: flex;

      & > div {
          margin-right: 10px;
      }

      & > div > span:last-child {
          font-weight: 700;
      }
  }

.button__statistics-navigation {
    font-size: 1.5rem;
}

  @media (max-width: 411px) {
    .control-panel__navigation {
      flex-direction: column;
      font-size: 1.5rem;
    }
  }
}
