.savannah-html {
  .control-panel__navigation {
    display: flex;
    flex-direction: column;
  }

  .navigation__position {
      display: flex;
      color: $color-text-dark;
      font-size: $font-size-basic * 2;

      & > div {
          margin-right: 10px;
      }

      & > div > span:last-child {
          font-weight: 700;
      }
  }

  .button__statistics-navigation {
    font-size: $font-size-basic * 1.4;
    background-color: $color-background-main-light;
    box-shadow: 0 0 10px #67697d66;
    border-radius: $button-border-radius;
    color: $color-text-dark;
  }

  .button__statistics-navigation:hover {
    border: 1px solid $color-background-main-light;
  }

  @media (max-width: 411px) {
    .control-panel__navigation {
      flex-direction: column;
      font-size: $font-size-basic * 1.2;
    }
  }
}
