@import '../abstract/consts';

.savannah-html {
  .start-page {
    position: absolute;
    top: 0;
    width: 70vw;
    height: 320px;
    background-color:$card-background-day;
    border-radius: 15px;
    z-index: 20;
  }

  .start-page__container {
    position: relative;
    top: 20vh;
    margin: 0 auto;
    width: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }

  .start__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .start__instruction {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .button__start {
    width: 150px;
    height: 40px;
    font-size: 1.8rem;
    font-weight: 400;
  }

  .btn-secondary {
    border: 1px solid $card-background-day;
    background-color: $card-background-day;
    box-shadow: 0 0 10px $shadow-color;
    border-radius: $button-border-radius;
    color: $color-text-dark;
  }
}
