$puzzlePadding: 15px;

$color-puzzle-background: #FFFFFF;
$color-puzzle-text: #FFFFFF;
$color-button-standart: #6c757d;
$color-button-clicked: #dc3545;
$puzzle-match-part: 15px;
$button-height: 35px;

$puzzle-width: 700px;
$puzzle-height: $puzzle-width / 16 * 9;
$small-border-radius: 3px;

$translation-area-color: #6c757d3d;

$color-shadow-wrong: #dc3545;
$color-shadow-correct: #13d152;
$color-main-background: #b2e5f5;
$color-puzzles-background: #4a6168;

$width-control-button: 150px;

$color-line-shadow: #8d82ee;

