$color-background-main: #67CCC0;
$color-button-background: #FBC65F;
$color-button-text: #886A30;
$color-text-dark: #3F5D79;
$color-container-background: #E5E5E5;
$color-wrong: #FF0000;
$color-correct: #008000;
$color-text-main: #FFFFFF;
$color-text-additional: #808080;
$color-control-icons: #FFFFFF;

$button-border-radius: 0.25rem;
$button-font-size-big: 2.4rem;