.counter{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    span{
        color: #fff;
        border: 2px solid #ddd;
        padding: 0px 8px;
        // border-radius: 25px;
        margin: 0 1px;
    }
    
    &__box{
        display: inline-block;
        overflow: hidden;
        height: 1.7em;
        line-height: 1.5em;
        font-weight: bold;
        font-size: 2em;       
    }
    
    &__third-number{
        background: #fa5559;
    }
    &__second-number{
        background: #26c3b9;
        animation: turn 0.7s ease forwards;
        animation-delay: 0.8s;
    }
    &__first-number{
        background: #f6bc58;
        animation: turn 0.7s ease forwards;
        animation-delay: 0.8s;
    }
   
}

@keyframes turn{
    0%{transform: rotateX(0deg)}
    100%{transform: rotateX(360deg);}
}

.counter.hidden{
    display: none;
}
