.sectionStart__hintArea {
  display: flex;
  width: 100%;
  height: 25%;
  @media screen and (min-width: 1px) and (max-width: 650px) {
    height: 20%;
    padding: 0;
}
  justify-content: space-around;
  .sectionStart--div{
      --size: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffff;
      border-radius: 10px;
      width: var(--size);
      @media screen and (min-width: 1px) and (max-width: 650px) {
        --size: 24%;
      }
      @supports (resize: both) {
          resize: horizontal;
          overflow: auto;
      }
     
      .text-size {
          --fontStretch: 500%;
        --fontSize: 1.1rem;          
          color: black;
          font-stretch: var(--fontStretch);
          font-size: var(--fontSize);
          font-weight: 600;
      }
      overflow: hidden;
      .cover-hint{
          color: #ffff;
          position: absolute;
      }
      .fa-volume-up{
          font-size: 4rem;
      }
  }
  .sectionStart__img img {
      width: 100%;
      object-fit: fill;
      height: 100%;
  }
}

.sectionStart__pressForHint {
  font-size: calc(10px + 3vh);
  margin: 5% 0 0 0;
  line-height: calc(10px + 10vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  cursor: pointer;
  @media screen and (min-width: 1px) and (max-width: 650px) {
    font-size: calc(8px + 2vh);
  }
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
