@import './scramble-const';
.scrambleLevel{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  
  @media screen and (min-width: 1px) and (max-width: 480px) {
    width: 70%;
    margin: 0;
  }
  @media screen and (min-width: 481px) and (max-width: 600px) {
        width: 50%;
        margin: 0;
  }
  @media screen and (min-width: 601px) and (max-width: 992px) {
    width: 35%;
    margin: 0;
  }

  &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      left: 50%;
      transform-style: flat;
      transform: translate3d(-50%,-50%,0);
      background: rgba(white,.1);
      border-radius: 100%;
      transition: width .3s ease, height .3s ease;
    }
    &:focus,
    &:hover {
        filter: brightness(115%);
    }
    &:active {
      &:after {
        width: 200px;
        height: 200px;
      }
    }
  
 select{
     display: flex;
     justify-content: center;
     margin: 10px 0 0 0;
     padding: 5% 5% 6% 5%;
     width: 100%;
     border: none;
     border-radius: $btn-radius;
     font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
     outline: none;
     background-color: $btn-color;
     color: $main_font_color;
     font-weight: 700;
     text-align-last:center;
     cursor: pointer;
     -moz-appearance: none;
     -webkit-appearance: none; 
     
     option {
      margin: 40px;
      background-color: $btn-color;
      filter: brightness(115%);
      cursor: pointer;
    }
 }
 
 &::before {
  content: "\2b9f";
  position: absolute;
  top: 57%;
  left: 48%;
  font-size: 30px;
  color: #274155;
 
}
}
