.a-c-body {
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%234da9ca' fill-opacity='0.74' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.a-c-back-2 {
  background-color: #e1eff4;
}
.a-c-back-3 {
  background-color: #c2e0ea;
}
.a-c-back-4 {
  background-color: #b1d7e5;
}
.a-c-back-5 {
  background-color: #99cee1;
}
.a-c-back-6 {
  background-color: #82c2d9;
}
.a-c-back-7 {
  background-color: #65b8d6;
}
.a-c-back-8 {
  background-color: #25a0cc;
}
.a-c-back-9 {
  background-color: #1392bf;
}
.a-c-back-10 {
  background-color: #0088ba;
}

.a-c-back-11 {
  background-color: #0082b1;
}
.a-c-back-12 {
  background-color: #007eac;
}
.a-c-back-13{
  background-color: #007aa7;
}
.a-c-back-14 {
  background-color: #006e96;
}
.a-c-back-15 {
  background-color: #00658a;
}
.a-c-back-16 {
  background-color: #006083;
}
.a-c-back-17 {
  background-color: #005e80;
}
.a-c-back-18 {
  background-color: #005a7a;
}
.a-c-back-19 {
  background-color: #005777;
}
.a-c-back-20 {
  background-color: #015270;
}
