@import "ACconst";

.a-c-btn-wrapper {
    position: relative;
    height: 15vh;
    width: 100%;
    margin: 0 auto;
    top: 100px;
  }
  
  .a-c-next,
  .bi-arrow-right-circle,
  .a-c-dont-know,
  .a-c-another-game-btn,
  .a-c-again-btn,
  .a-c-go {
    cursor: pointer;
    color: $main_font_color;
  }

  .a-c-next:focus,
  .a-c-dont-know:focus,
  .a-c-another-game-btn:focus,
  .a-c-again-btn:focus,
  .a-c-go:focus {
    outline: none;
  }

  .a-c-dont-know,
  .a-c-another-game-btn,
  .a-c-again-btn,
  .a-c-go {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 17px;
    border-radius: $btn-radius;
    height: 35px;
    padding: 0px 30px;
  }

  .a-c-another-game-btn,
  .a-c-again-btn,
  .a-c-go {
    border: 1px solid $btn-color;
    background-color: $btn-color;
  }

  .a-c-another-game-btn:hover,
  .a-c-again-btn:hover,
  .a-c-go:hover {
    filter: brightness(115%);
  }

  .a-c-go {
    z-index: 300;
    top: 150%;
  }
  
  .a-c-dont-know {
    top: 210%;
    border: 1px solid $card-background-day;
    background-color: $card-background-day;
    box-shadow: 0 0 10px $shadow-color;
  }

  .a-c-dont-know:hover {
    box-shadow: 0 0 20px $shadow-color;
  }
  
  .a-c-another-game-btn {
    top: 130px;
  }
  
  .a-c-again-btn {
    top: 170px;
  }
  
  .bi-arrow-right-circle {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 210%;
  }

  .a-c-next:hover {
    .bi-arrow-right-circle {
        width: 1.7rem;
        height: 1.7rem;
    }
  }
  
  .hidden {
    display: none;
  }
  