.a-c-result-wrapper {
  width: 30vw;
  height: 170px;
  position: absolute;
  top: 40px;
  left: 29%;
  overflow: auto;
  .a-c-result-wrong,
  .a-c-result-right {
    font-size: 1.7em;
    font-weight: 600;
    li {
      list-style: none;
    }
    .svg-inline--fa {
      cursor: pointer;
      margin: 0 10px 0 0;
      color: grey;
    }

    .svg-inline--fa:hover {
      color: $main_font_color;
    }

  }
  
  .a-c-result-wrong,
  .a-c-result-right {
    font-size: 1.7rem;
    font-weight: 600;
    list-style: none;

    .svg-inline--fa {
      cursor: pointer;
      margin: 0 10px 0 0;
      color: grey;
    }

    .svg-inline--fa:hover {
      color: $main_font_color;
    }

  }

  .a-c-result-wrong > a {
    border-radius: 7px;
    padding: 0px 6px;
    color: white;
    background-color: rgb(245, 51, 51);
  }

  .a-c-result-right > a {
    border-radius: 7px;
    padding: 0px 6px;
    color: white;
    background-color: rgb(19, 150, 19);
  }
