@import './abstract/consts';
@import './components/results';
@import './components/start';
@import './components/navigation';
@import './components/savannah-back';
@import './components/navigation-modal';

.savannah-html {
    font-family: 'Lato', sans-serif;

    .savannah-wrapper {
        max-width: 1200px;
        padding: 10px 40px;
    }

    .control-panel {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        color: $color-text-main;
    }

    .control-panel__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control__sound {
        margin-right: 10px;
        font-size: $font-size-basic * 2.5;
        cursor: pointer;
    }

    .control__lifes {
        margin-right: 10px;
        font-size: $font-size-basic * 2.5;
    }

    .control__lifes > svg {
        margin: 0 2px;
    }

    .control__close {
        font-size: $font-size-basic * 3;
        cursor: pointer;
    }

    .savannah__game {
        position: relative;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .savannah__game__words-counter {
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-size-basic * 20;
            font-weight: 900;
            color: $color-text-main;
            opacity: 0.3;
        }

        .savannah__game__start-countdown {
            position: absolute;
            top: 0;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $font-size-basic * 5;
            font-weight: 600;
            color: $color-text-dark;
            background-color: $color-background-main-light;
            border-radius: 30px;
        }
    }

    .game__active-word {
        position: absolute;
        top: -50px;
        width: 150px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size-basic * 3.5;
        font-weight: 600;
        color: $color-text-main;
        text-shadow: 2px 2px 2px $color-background-main;
        z-index: 5;
    }

    .game__answers {
        width: 100%;
        display: flex;
        justify-content: space-around;
        user-select: none;
    }

    .game__answer {
        position: relative;
        height: 30px;
        margin: 15px 0;
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $color-background-main-light;
        border-radius: 5px;
        cursor: pointer;
    }

    .game__answer-number {
        margin-right: 5px;
        font-size: $font-size-basic * 1.5;
        font-weight: 500;
        color: $color-text-dark-additional;
    }

    .game__answer-word {
        font-size: $font-size-basic * 3;
        font-weight: 400;
        color: $color-text-dark;
    }

    .answer__overlay-wrong {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-wrong;
        border-radius: 5px;
        opacity: 0.4;
    }

    .answer__overlay-correct {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-correct;
        border-radius: 5px;
        opacity: 0.4;
    }

    .attribution {
        width: 0px;
        height: 0px;
        font-size: 0;

        a {
            text-decoration: none;
        }
    }

    .hidden {
        display: none;
    }

    @media (max-width: 411px) {
        .savannah-wrapper {
            padding: 0 15px;
        }
        .control-panel {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .control-panel__container {
            flex-direction: column-reverse;
            align-items: center;
        }
        .control__lifes {
            margin-right: 0;
            display: flex;
            flex-direction: column;
        }
        .control__sound {
            margin-right: 0;
        }
        .game__answers {
            flex-direction: column;
            align-items: center;
        }
    }
}
