.game-puzzle-main-class {
    .game-puzzle-header__navigation {
        display: flex;
        font-size: 2rem;
    }

    .game-puzzle-header__navigation {
        display: flex;
    }

    .navigation__position {
        display: flex;

        & > div {
            margin-right: 10px;
        }

        & > div > span:last-child {
            font-weight: 700;
        }
    }

    .button__statistics-navigation {
        font-size: $font-size-basic * 1.4;
        background-color: $color-background-main-light;
        box-shadow: 0 0 10px #67697d66;
        border-radius: $button-border-radius;
        color: $color-text-dark;
    }

    .button__statistics-navigation:hover {
        box-shadow: 0 0 20px $shadow-color;
        border: 1px solid $color-background-main-light;
    }


    .game-puzzle__navigation__option {
        text-align: center;
        color: $color-button-standart;
        background-color: #FFFFFF;
        cursor: pointer;
    }

    .prompts-and-logout {
        display: flex;
    }

    .header__prompts {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .prompts__button {
        width: $button-height;
        height: $button-height;
        margin: 0 5px;
        box-shadow: 0 0 0 0 none;
    }

    .prompts__button:hover {
        filter: brightness(115%);
        border: 1px solid $color-orange-dark;
    }

    .prompts__button.clicked {
        background-color: $color-orange-dark;
    }

    .prompts__button:last-child {
        margin-right: 0;
    }

    .button__prompt-auto-audio-play {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        line-height: 0.8rem;
        font-weight: 500;
        background-image: url(./icons/puzzle/speak.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    .button__audio-play-once {
        margin-left: 0;
        background-image: url(./icons/puzzle/speak.svg);
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.5;
    }

    .button__audio-play-once:hover {
        opacity: 1;
    }

    .button__prompt-translation {
        background-image: url(./icons/puzzle/translate.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .button__prompt-audio-play {
        background-image: url(./icons/puzzle/speak.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .button__prompt-painting {
        background-image: url(./icons/puzzle/landscape.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .main__prompts {
        width: $puzzle-width;
        display: flex;
        align-items: center;
    }

    .main__translation {
        flex: 1 1 100%;
        height: $button-height;
        padding: 0 20px;
        margin: 5px 0;
        display: flex;
        align-items: center;
        overflow: hidden;
        font-size: 1.4rem;
        line-height: 1.5rem;
        font-weight: 600;
        background-color: $translation-area-color;
        border-radius: $small-border-radius;
    }
}
