.puzzle-navigation-modal {

  .modal-content {
    border-radius: $container-border-radius;
    border: none;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      margin-top: 30px;
      color: $color-text-dark;
    }

    span {
      margin-bottom: 10px;
      color: $color-text-dark;
    }

  }

  .navigation__user-words {
    display: flex;

    .user-words__level {
      width: 70px;
      padding: 3px;
      margin: 0 2px;
      font-size: $font-size-basic * 1.2;
      text-align: center;
      border: 1px solid $color-navigation-table-borders;
      opacity: 0.7;
      cursor: pointer;
    }

    .user-words__level:hover {
      opacity: 1;
    }
  }

  .not-enough-words {
    color: $color-button-text;
    transform: rotateX(90deg);
  }

  .not-enough-words_show {
    transform: none;
  }

  .cell-with-data {
    width: 70px;
    padding: 3px;
    font-size: $font-size-basic * 1.1;
    text-align: center;
    border: 1px solid $color-navigation-table-borders;
  }

  .cell-level, .cell-round {
    color: $color-text-dark;
    font-weight: 700;
  }

  .navigation-table-green {
    background-color: $color-navigation-table-correct;
  }

  .navigation-table-yellow {
    background-color: $color-navigation-table-middle;
  }

  .navigation-table-red {
    background-color: $color-navigation-table-wrong;
  }

  .navigation-table-grey {
    color: $color-navigation-table-neverplayed-text;
    background-color: $color-navigation-table-neverplayed;
  }

  .navigation-table-green,
  .navigation-table-red,
  .navigation-table-yellow,
  .navigation-table-grey {
    cursor: pointer;
    opacity: 0.7;
  }
  .navigation-table-green:hover,
  .navigation-table-red:hover,
  .navigation-table-yellow:hover,
  .navigation-table-grey:hover {
    opacity:1;
  }

  @media (max-width: 767px) {
    width: 95%;
    .navigation__user-words {
      .user-words__level {
        width: 45px;
        padding: 2px;
        margin: 0 2px;
        font-size: $font-size-basic * 0.9;
      }
    }

    .cell-with-data {
      width: 45px;
      padding: 2px;
      font-size: $font-size-basic * 0.9;
    }
  }
}
