.game-puzzle-main-class {
    .results {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 120vh;
        background: $color-main-background;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231595a1' fill-opacity='0.48' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
        z-index: 15;
    }

    .results__container {
        position: relative;
        top: 230px;
        width: 80vw;
        margin: auto;
        max-width: 700px;
        height: 70vh;
        max-height: 700px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-main-background;
        border-radius: $small-border-radius;
    }

    .results__painting {
        display: flex;
        flex-direction: column;
        align-items: center;

        .results__painting__image > a > img {
            width: 100px;
            height: 56px;
            border-radius: $small-border-radius;
        }

        .results__painting__info {
            margin: 10px 0;
            font-size: 1rem
        }
    }

    .results__knowledge {
        display: flex;
        flex-direction: column;

        .results__dont-know, .results__know {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .dont-know__number, .know__number {
            width: 20px;
            margin: 0 5px;
            padding: 0 10px;
            color: $color-puzzle-text;
            background-color: $color-shadow-wrong;
            border-radius: $small-border-radius;
        }

        .know__number {
            background-color: $color-shadow-correct;
        }

        .dont-know__number {
            background-color: $color-shadow-wrong;
        }

        .results__phrases__container {
            display: flex;

            .results__phrase {
                width: 100%;
                margin-left: 5px;
                display: flex;
                align-items: center;
                font-weight: 500;
                cursor: pointer;

                .phrase_RU {
                    display: none;
                    padding: 0 5px;
                    color: $color-puzzle-text;
                    background-color: $color-puzzles-background;
                }
            }

            .results__phrase:hover {
                .phrase_RU {
                    display: flex;
                }
                .phrase_EN {
                    display: none;
                }
            }

            .results__audio-play {
                width: 20px;
                height: 20px;
                margin: 3px;
                background-image: url(./icons/puzzle/speak.svg);
                background-size: contain;
                filter: invert(40%);
                cursor: pointer;
            }

            .results__audio-play:hover {
                filter: invert(0%);
            }
        }
    }

    .results__button-close {
        height: $button-height;
        font-size: 2rem;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .results__button-close:hover {
        border: 1px solid #FFFFFF;
    }

    .scrollbar {
        float: left;
        width: 95%;
        height: 55%;
        margin-left: 15px;
        overflow-y: scroll;
      }

      .scrollbar-primary::-webkit-scrollbar {
        width: 8px;
      }

      .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: grey;
      }

      .scrollbar-primary {
        scrollbar-color: grey;
      }
}
