.game-puzzle-main-class {
    .start__page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 110vh;
        background-color: $color-main-background;
        background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%234da9ca' fill-opacity='0.33' fill-rule='evenodd'/%3E%3C/svg%3E");
        z-index: 20;
    }

    .start__page__container {
        position: relative;
        top: calc(50vh - 100px);
        left: calc(50vw - 300px);
        width: 600px;
        height: 200px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-main-background-opacity;
        border-radius: $small-border-radius;
    }

    .start__title {
        font-size: 2rem;
        font-weight: 700;
        color: $color-puzzle-text;
        text-shadow: $text-shadow;
    }

    .start__instruction {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 400;
        color: $color-puzzle-text;
        text-shadow: $text-shadow;
    }

    .button__start {
        width: 150px;
        height: $button-height;
        font-size: 1.8rem;
        font-weight: 400;
    }

    .button__start:hover {
        border: 1px solid white;
    }
}
