.gameLevel{
    margin-top: 40px;
   display: flex;
   justify-content: center; 
   width: 30%;
   
   
   select{
       background: #183949;
       color: #ffff;
       padding: 5%;
       width: 100%;
       border: none;
       font-size: 20px;
       box-shadow: 0 5px 25px rgba(0,0,0,.5);
       outline: none;
   }
}