$size-text-basic: 10px;
$color-font-main: #3F5D79;

.games-background {
  background-color: #f1f1f1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23b7c5ca' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}

.games__main {
  width: 80vw;
  height: 80vh;
  margin: 20px auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "speakit speakit speakit speakit savannah savannah savannah"
  "sprint sprint sprint sprint savannah savannah savannah"
  "scramble scramble scramble audiocall audiocall audiocall audiocall "
  "scramble scramble scramble puzzle puzzle puzzle puzzle";
  color: $color-font-main;

  .game {
    min-height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    box-shadow: 10px 10px 15px #67697d66;
    color: #f8f9fa;
    text-decoration: none;
    cursor: pointer;

    & > span {
      font-size: 20px;
      font-weight: 700;
    }

    & > p {
      text-align: center;
      font-size: 18px;
    }
  }

  .game:hover {
    filter: brightness(115%);
  }

  .savannah {
    grid-area: savannah;
    background-color: #67CCC0;
  }

  .sprint {
    grid-area: sprint;
    background-color: #FFBD3E;
  }

  .audiocall {
    grid-area: audiocall;
    background-color: #F2DD1D;
  }

  .speakit {
    grid-area: speakit;
    background-color: #AEE23F;
  }

  .scramble {
    grid-area: scramble;
    background-color: #806BD2;
  }

  .puzzle {
    grid-area: puzzle;
    background-color: #2267CE;
  }
}

@media (max-width: 767px) {
  .games__main {
    width: 70vw;
    height: 90vh;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "savannah"
    "scramble"
    "audiocall"
    "speakit"
    "puzzle"
    "sprint";

    .game {
      padding: 5px;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #67697d66;

      & > span {
        font-size: 15px;
      }

      & > p {
        font-size: 15px;
        margin-bottom: 0;
      }
    }
  }
}
