

.promo-page {

  background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
  background-size: 300% 300%;
  animation: Background 25s ease infinite;
  
  .promo-page__full-screen{
    background: url(promo_bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .promo-page__h1 {
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      font-size: 4em;
      letter-spacing: -2px;
      text-align: center;
      text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
      &:after {
          display: block;
          color: #fff;
          letter-spacing: 1px;
          font-family: 'Poiret One', sans-serif;
          content: 'Subtitle goes here';
          font-size: .4em;
          text-align: center;
        }
    }
    
    .promo-page__button-line {
      text-transform: uppercase;
      letter-spacing: 2px;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      font-size: 1.4em;
      opacity: .8;
      padding: 20px 40px;
      text-decoration: none;
      transition: all .5s ease;
      margin: 0 auto;
      display: block;
      width: 22%;
      &:hover {
        opacity: 1;
        font-size: 1rem;
      }
    }
    
  }
  
  
}



@keyframes Background {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
  

  

  
.a{
  border: 1px solid red;
}
.b{
  border: 1px solid blue;
}