$color-text: #3F5D79;
$color-button-authorization: #FBC65F;
$color-button-authorization-text: #886A30;
$color-header-main: #F8F8F8;
$color-button-svg-hover: #2b4358;
$color-dropdown-content-bg: #67697d15;
$color-box-shadow: #67697D40;

$button-border-radius-small: 10px;
$header-border-radius: 30px;
$button-width: 52px;
$button-height: 52px;
$button-border-radius-big: 25px;

.hidden-for-header-render {
  display: none !important;
}

.app-header {
  width: 100%;
  padding: 0 20px;
  color: $color-text;

  a {
    text-decoration: none;
  }

  svg {
    color: $color-text;
  }

  .header__button:hover {
    svg {
      color: $color-button-svg-hover;
      font-size: 2.1em;
    }
  }

  .app-header__container {
    position: relative;
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-header-main;
    border-radius: 0px 0px $header-border-radius $header-border-radius;
    box-shadow: 5px 20px 20px $color-box-shadow;
  }

  .navbar-nav {
    justify-content: flex-end;
    background-color: $color-header-main;
    border-radius: 0px 0px $header-border-radius $header-border-radius;
  }

  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-light .navbar-toggler {
    position: absolute;
    left: 20px;
  }

  .navbar-light .navbar-toggler, .navbar-light .navbar-toggler:active, .navbar-light .navbar-toggler:focus {
    border: none;
    outline: none;
  }

  .header__promo {
    display: flex;
    align-items: center;
  }

  .header__buttons {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .header__logo {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    letter-spacing: 1px;
    color: $color-text;
    font-weight: 800;
  }

  .header__logo > div {
    font-size: 26px;
  }

  .header__button {
    width: $button-width;
    height: $button-height;
    margin: 5px;
    border: none;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: $button-border-radius-big;
    cursor: pointer;
  }

  .header__button:active, .header__button:focus {
    border: none;
    outline: none;
  }

  .header__user-authorization {
    display: flex;
    align-items: center;
  }

  .header__username {
    max-width: 150px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    text-overflow: clip;
  }

  .button_authorization {
    width: 90px;
    height: 41px;
    background-color: $color-button-authorization;
    color: $color-button-authorization-text;
    font-size: 15px;
    font-weight: 600;
    border-radius: $button-border-radius-small;
  }

  .button_authorization:hover {
    filter: brightness(110%);
  }

  .button_authorization_burger {
    background-color: $color-button-authorization;
    color: $color-button-authorization-text;
    border-radius: $button-border-radius-big;
  }

  .button_authorization_burger > svg {
    color: $color-button-authorization-text;
  }

  .button_language, .button_promo {
    color: $color-text;
    font-size: 1.6em;
    font-weight: 900;
  }

  .button_language:hover, .button_promo:hover {
    color: $color-button-svg-hover;
    font-size: 1.8em;
  }

  .header__dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    width: 250px;
    padding: 20px;
    display: none;
    position: absolute;
    background-color: $color-header-main;
    box-shadow: 18px 23px 16px -10px $color-box-shadow;
    border-radius: 0px 0px 30px 30px;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    color: $color-text;
    font-weight: 600;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: $color-dropdown-content-bg;
    border-radius: 25px;
  }

  .header__dropdown:hover .dropdown-content {
    display: block;
  }
}

@media (max-width: 992px) {
  .app-header {

    .wrapper {
      padding: 0 15px;
    }
    .app-header {
      padding: 0 5px;
    }
    .app-header__container {
      height: 40px;
      justify-content: center;
    }
    .navbar-nav {
      position: absolute;
      top: 40px;
      padding: 50px 20px;
      box-shadow: 5px 20px 20px $color-box-shadow;
    }
    .header__logo {
      position: absolute;
      left: calc(50% - 60px);
      top: 5px;
    }
    .header__logo > div {
      font-size: 20px;
    }
    .header__buttons {
      flex-direction: column;
    }
    .header__user-authorization {
      flex-direction: column;
    }
    .header__username {
      margin: 10px 0;
    }
    .dropdown-content {
      top: 10px;
      left: 120px;
      box-shadow: 11px 4px 27px -7px $color-box-shadow;
      width: 210px;
      border-radius: 0px $header-border-radius $header-border-radius 0px;
    }
  }
}
  @media (max-width: 320px) {
    .app-header {
      padding: 0 7px;
    }

    .navbar-nav {
      width: 84%;
      left: 25px;
    }

    .header__buttons {
      width: 50px;
      left: 60px;
    }

    .dropdown-content {
      left: 60px!important;
      width: 181px!important;
      border-radius: 0px!important;
    }
  }
