.cards-background {
  background-color: #ffbd3e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.43'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.card-wrapper {
  position: relative;
  text-align: center;
  width: 90%;
  min-height: 50%;
  margin: 0 auto 30px;
  padding: 15px 0;
  border-radius: 15px!important;
}

.word-settings {
  position: absolute;
  top: 0;
  left: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  @media (max-width: 650px) {
    top: -15px;
    left: 0;
  }
}

.again {
  margin-bottom: 10px;
  margin-top: 15px;
}

.word-difficulty-level {
  display: flex;
  flex-direction: column;
}

.next-card-btn {
  position: absolute;
  top: 0;
  right: 10%;
  margin-top: 15px;

  @media (max-width: 650px) {
    top: -15px;
    right: 0;
  }
}

.show-answer, .check, .difficult-word, .delete-word{
  margin-bottom: 15px;
}

.warning-window {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  p {
    color: $main_font_color;
    font-weight: 500;
  }
}

.message {
  margin-bottom: 15px;
}

.timeout {
  display: inline-block;
  margin-bottom: 15px;
}

.overlay-window {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 592px;
  background-color: #eee;
  border-radius: 15px;
}

.word-image {
  margin-bottom: 15px;

  @media (max-width: 450px) {
    width: 100%;
  }
}

.hide-window {
  left: -10000px;
}

.word-card {
  color: $main_font_color;
  font-weight: 500;
}

.word-card__settings {
  position: absolute;
  top: 10px;
  right: 5px;
  outline: none;

  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }
}
