.index-cards {
  @import "card-wrapper";
  @import "word-input";
  @import "progress";
  @import "word-input";
  @import "settings";
}
.cards-background {
  .modal-content {
    border-radius: 15px;
  }
  .modal-footer {
    .btn-secondary {
      background-color: $btn-color;
      border: none;
      color: $main_font_color;
      padding: 5px 20px;
    }
    .btn-secondary:hover {
      filter: brightness(115%);
    }
  }
  .modal-short-statistics .short-statictics__title {
    color: $main_font_color!important;
    font-size: 30px!important;
  }
  .cards-completed,
  .correct-answers,
  .new-words,
  .longest-session {
    font-size: 25px!important;
  } 
  
}
