@import './abstract/consts';
@import './components/chart';
@import './components/short-statisctics';

.statistics {

  font-size: 10px;
  font-family: "Lato";

  .statistics__main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .statistics__main__buttons {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-secondary {
    margin: 10px;
    font-size: 2rem;
  }
}
