@import './abstract/consts';
@import './components/chart';
@import './components/short-statisctics';
@import './components/calendar';

.statistics {

  font-size: 10px;
  font-family: "Lato";

  .statistics__main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    // align-items: center;
  }
}
