@import "../abstract/constants";

.start-screen {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $start-screen-padding;
  text-align: center;
  background-size: cover;

  &__container {
    width: 80vw;
    max-width: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #274155;
    background-color: #F1F1F1;
    box-shadow: 10px 10px 15px #67697d66;
    border-radius: 15px;
  }

  &_hide {
    display: none;
    visibility: hidden;
  }

  &__title {
    margin-bottom: $start-screen-indent;
    color: #00C49D;
    font-size: $title-font-size;
    text-transform: uppercase;
    letter-spacing: $title-letter-spacing;
  }

  &__intro {
    max-width: $start-screen-intro-width;
    margin: $start-screen-intro-margin;
    font-size: $intro-font-size;
    line-height: $intro-line-height;
    letter-spacing: $intro-letter-spacing;
  }

  &__button {
    min-width: $start-screen-button-width;
    margin: $start-screen-button-margin;
    font-size: $font-size-base * 1.5;
  }
}
