$color-body: #d7acff;
$color-main-chart: #d7d7ff;
$color-user-chart: #51b8a17e;
$color-calendar-background: #ccf3ea;
$color-chart-grid: #afafb1;
$color-chart-stroke: #414177;
$color-text-dark: #808080;
$color-text-shorstatistics-title: #070f36;
$color-test-cards-completed: #5b5bfa;
$color-test-correct-answers: #09b170;
$color-test-new-words: #ad10c2;
$color-test-longest-session: #052b57;
$color-header-main: #F8F8F8;

$chart-width-height-desktop: 300px;
$calendar-width-height-desktop: 300px;
$chart-width-height-mobile: 210px;
$calendar-width-height-mobile: 210px;
$chart-cicle-width-and-height: 12px;
